<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Detalhes da aula</h2>
    </header>
    
<main>
    <div class="card">

        <p><strong>Nome:</strong> {{aula.nome}}</p>
        <p><strong>descrição:</strong> {{aula.descricao}}</p>
        <p><strong>preço:</strong> {{aula.preco}}</p>
        <p><strong>faixa etaria:</strong> {{aula.faixa_etaria}}</p>
        <p><strong>horas semanais:</strong> {{aula.horas_semanais}}</p>

        <a class="btn" href="/aulas">Voltar</a>

    </div>
</main>

</body>
</html>

