<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Detalhes do Evento</h2>
    </header>
    <p><strong>Nome:</strong> {{evento.nome}}</p>
    <p><strong>Descrição:</strong> {{evento.descricao}}</p>
    <p><strong>Requisitos:</strong> {{evento.requisitos}}</p>
    <p><strong>Faixa_etaria:</strong> {{evento.faixa_etaria}}</p>
    <p><strong>Data:</strong> {{evento.data}}</p>

    <a class="btn" href="/eventos">Voltar</a>
</body>
</html>